{:highlights [{:id #uuid "643e9893-53bf-4101-8174-a36691c5c14b",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 268,
                                     :x2 903.6895751953125,
                                     :y2 676.6041870117188,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 268,
                                   :x2 0,
                                   :y2 291.3333435058594,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 284,
                                   :x2 0,
                                   :y2 307.3333435058594,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 663.9088745117188,
                                   :y1 618.0833740234375,
                                   :x2 903.6875,
                                   :y2 636.75,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 116.3125,
                                   :y1 638.0104370117188,
                                   :x2 903.6895751953125,
                                   :y2 656.6771240234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 116.3125,
                                   :y1 657.9375,
                                   :x2 482.7503662109375,
                                   :y2 676.6041870117188,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text " Given the breadth and depth of GPT-4’s capabilities, we believe that it could reasonably be viewed as an early (yet still incomplete) version of an artificial general intelligence (AGI) system."},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
