{:highlights [{:id #uuid "644063a0-1491-44bb-8675-edd5360e6cf3",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 12,
                                     :x2 490.0802001953125,
                                     :y2 232.2396240234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 12,
                                   :x2 0,
                                   :y2 35.333343505859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 28,
                                   :x2 0,
                                   :y2 51.333343505859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 44,
                                   :x2 0,
                                   :y2 67.33334350585938,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 60,
                                   :x2 0,
                                   :y2 83.3333740234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 116.75799560546875,
                                   :y1 142.5208740234375,
                                   :x2 490.072021484375,
                                   :y2 159.1875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 89.65625,
                                   :y1 160.78125,
                                   :x2 490.0802001953125,
                                   :y2 177.44793701171875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 89.65625,
                                   :y1 179.04168701171875,
                                   :x2 490.0721435546875,
                                   :y2 195.7083740234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 89.65625,
                                   :y1 197.3125,
                                   :x2 490.07305908203125,
                                   :y2 213.97918701171875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 89.65625,
                                   :y1 215.57293701171875,
                                   :x2 117.00482177734375,
                                   :y2 232.2396240234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "one agent wants to throw a Valentine’s Day party, the agents autonomously spread invitations to the party over the next two days, make new acquaintances, ask each other out on dates to the party, and coordinate to show up for the party together at the right time"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
