{:highlights [{:id #uuid "6499c360-6ff5-4eeb-b49d-19e50630f0b2",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 316,
                                     :x2 843.1335144042969,
                                     :y2 628.8541870117188,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 316,
                                   :x2 0,
                                   :y2 339.3333435058594,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 422.8697509765625,
                                   :y1 592,
                                   :x2 840.2291259765625,
                                   :y2 610.6666870117188,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 179.77084350585938,
                                   :y1 610.1875,
                                   :x2 843.1335144042969,
                                   :y2 628.8541870117188,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "We find that use of model-generated content in training causes irreversible defects in the resulting models, where tails of the original content distribution disappear."},
               :properties {:color "yellow"}}
              {:id #uuid "6499c377-2498-4137-b435-c38ef5bf4987",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 412,
                                     :x2 840.80712890625,
                                     :y2 737.9375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 412,
                                   :x2 0,
                                   :y2 435.3333435058594,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 232.629150390625,
                                   :y1 701.09375,
                                   :x2 840.80712890625,
                                   :y2 719.7604370117188,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 179.35418701171875,
                                   :y1 719.2708740234375,
                                   :x2 235.5380859375,
                                   :y2 737.9375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "the value of data collected about genuine human interactions with systems will be increasingly valuable"},
               :properties {:color "yellow"}}
              {:id #uuid "6499c45c-b4ab-4226-b822-8499ad81c86f",
               :page 1,
               :position {:bounding {:x1 119.47918701171875,
                                     :y1 941.5833435058594,
                                     :x2 663.7633666992188,
                                     :y2 960.25,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.47918701171875,
                                   :y1 941.5833435058594,
                                   :x2 663.7633666992188,
                                   :y2 960.25,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "The development of LLMs is quite involved and requires masses of training data."},
               :properties {:color "yellow"}}
              {:id #uuid "6499c4b7-4683-4403-9702-6e3935af9095",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 60,
                                     :x2 900.0067138671875,
                                     :y2 231.26043701171875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 60,
                                   :x2 0,
                                   :y2 83.33334350585938,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 76,
                                   :x2 0,
                                   :y2 99.33334350585938,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 342.11328125,
                                   :y1 176.22918701171875,
                                   :x2 900.003173828125,
                                   :y2 194.89584350585938,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 120,
                                   :y1 194.40625,
                                   :x2 900.0067138671875,
                                   :y2 213.07293701171875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 119.58334350585938,
                                   :y1 212.59375,
                                   :x2 253.13412475585938,
                                   :y2 231.26043701171875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "We show that over time we start losing information about the true distribution, which first starts with tails disappearing, and over the generations learned behaviours start converging to a point estimate with very small variance."},
               :properties {:color "yellow"}}
              {:id #uuid "6499c4ea-bcfe-4c18-b865-ddb32e0a7a1f",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 156,
                                     :x2 899.9990234375,
                                     :y2 617.9896240234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 156,
                                   :x2 0,
                                   :y2 179.33334350585938,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 605.4855346679688,
                                   :y1 581.1354370117188,
                                   :x2 899.9990234375,
                                   :y2 599.8021240234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 510,
                                   :y1 599.3229370117188,
                                   :x2 644.9635009765625,
                                   :y2 617.9896240234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "the model becomes poisoned with its own projection of reality."},
               :properties {:color "red"}}
              {:id #uuid "6499c51c-5863-4484-ba7f-50635e89c05d",
               :page 2,
               :position {:bounding {:x1 175.27999877929688,
                                     :y1 822.8021240234375,
                                     :x2 812.0416870117188,
                                     :y2 841.46875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 175.27999877929688,
                                   :y1 822.8021240234375,
                                   :x2 812.0416870117188,
                                   :y2 841.46875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "We show that, to avoid model collapse, access to genuine human-generated content is essential."},
               :properties {:color "blue"}}
              {:id #uuid "6499c70a-b7b1-4ea4-8387-71dab30bd22c",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 28,
                                     :x2 902.90185546875,
                                     :y2 198.46875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 28,
                                   :x2 0,
                                   :y2 51.333343505859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 733.7684326171875,
                                   :y1 161.625,
                                   :x2 900.005126953125,
                                   :y2 180.29168701171875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 120,
                                   :y1 179.80209350585938,
                                   :x2 902.90185546875,
                                   :y2 198.46875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "We argue that the process of model collapse is universal among generative models that recursively train on data generated by previous generations."},
               :properties {:color "red"}}
              {:id #uuid "6499c76e-9a80-4247-b787-ce9308434209",
               :page 13,
               :position {:bounding {:x1 119.21875,
                                     :y1 167.1771240234375,
                                     :x2 902.9027099609375,
                                     :y2 185.84375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.21875,
                                   :y1 167.1771240234375,
                                   :x2 902.9027099609375,
                                   :y2 185.84375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 13},
               :content {:text "What is different with the arrival of LLMs is the scale at which such poisoning can happen once it is automated."},
               :properties {:color "red"}}
              {:id #uuid "6499c7a0-b8b5-4ed4-a2c0-81a8c634d5c3",
               :page 13,
               :position {:bounding {:x1 0,
                                     :y1 204,
                                     :x2 900.5804443359375,
                                     :y2 449.5208740234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 204,
                                   :x2 0,
                                   :y2 227.3333740234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 220,
                                   :x2 0,
                                   :y2 243.3333740234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 236,
                                   :x2 0,
                                   :y2 259.3333740234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 252,
                                   :x2 0,
                                   :y2 275.3333740234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 545.5399169921875,
                                   :y1 358.125,
                                   :x2 899.994873046875,
                                   :y2 376.79168701171875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 120,
                                   :y1 376.3125,
                                   :x2 900.0087890625,
                                   :y2 394.97918701171875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 120,
                                   :y1 394.4896240234375,
                                   :x2 900.00146484375,
                                   :y2 413.15625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 120,
                                   :y1 412.6771240234375,
                                   :x2 900.5804443359375,
                                   :y2 431.34375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 120,
                                   :y1 430.85418701171875,
                                   :x2 229.29052734375,
                                   :y2 449.5208740234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 13},
               :content {:text " One option is community-wide coordination to ensure that different parties involved in LLM creation and deployment share the information needed to resolve questions of provenance. Otherwise, it may become increasingly difficult to train newer versions of LLMs without access to data that was crawled from the Internet prior to the mass adoption of the technology, or direct access to data generated by humans at scale."},
               :properties {:color "purple"}}],
 :extra {:page 1}}
