{:highlights [{:id #uuid "64a940b4-92e1-4455-a4e7-b0d3ec560aa2",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 284,
                                     :x2 780.5025329589844,
                                     :y2 687.09375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 284,
                                   :x2 0,
                                   :y2 307.3333435058594,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 300,
                                   :x2 0,
                                   :y2 323.3333435058594,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 504.0816955566406,
                                   :y1 632.0625,
                                   :x2 780.5025329589844,
                                   :y2 650.7291870117188,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 239.77084350585938,
                                   :y1 650.2396240234375,
                                   :x2 780.2225646972656,
                                   :y2 668.90625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 239.77084350585938,
                                   :y1 668.4271240234375,
                                   :x2 388.9140930175781,
                                   :y2 687.09375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text " Our work opens up new possibilities for modeling very long sequences, e.g., treating a whole corpus or even the entire Internet as a sequence"},
               :properties {:color "yellow"}}
              {:id #uuid "64a94100-b9d7-4f21-8874-9102805fea7b",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 124,
                                     :x2 840.5802307128906,
                                     :y2 326.3958435058594,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 124,
                                   :x2 0,
                                   :y2 147.33334350585938,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 500.3406066894531,
                                   :y1 289.54168701171875,
                                   :x2 840.5802307128906,
                                   :y2 308.2083435058594,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 180,
                                   :y1 307.72918701171875,
                                   :x2 570.9253234863281,
                                   :y2 326.3958435058594,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "a longer context contains more complex causality and reasoning paths that models can exploit in training data"},
               :properties {:color "yellow"}}
              {:id #uuid "64a9411b-1f41-42c5-93ef-5b1d12752589",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 172,
                                     :x2 840.0029602050781,
                                     :y2 380.9375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 172,
                                   :x2 0,
                                   :y2 195.33334350585938,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 822.5198059082031,
                                   :y1 344.09375,
                                   :x2 840.0029602050781,
                                   :y2 362.76043701171875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 180,
                                   :y1 362.2708435058594,
                                   :x2 688.3265686035156,
                                   :y2 380.9375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "an extremely long context may help the models alleviate catastrophic forgetting"},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
